@use "vars.scss" as *;

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: $dark;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.row {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    pointer-events: none;
  }
}

.columns {
  display: flex;
  column-gap: 30px;

  > * {
    flex: 0 1 50%;
  }
}

.accent {
  color: $main;
}

.header {
  background-color: $light;
}

.header__wrapper {
  position: relative;
}

.header__title {
  position: relative;
  z-index: 1;
}

.header__image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  pointer-events: none;
}

.header__grid {
  margin-top: 202px;
}

.header__text-wrapper {
  .header__text {
    &:last-child {
      margin-top: 15px;
    }
  }
}

.header__text {
  line-height: 1.6em;
}

.header__button {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: fit-content;
  font-size: 16px;
  line-height: 1.6em;
  margin-top: 40px;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $main;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ea7600;
  }
}

.vb__title {
  text-align: center;
}

.vb__subtitle {
  text-align: center;
  margin-top: 30px;
  line-height: 1.6em;
  color: #212529;
}

.vb__link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -200px;
}

.vb__image {
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation {
  background-color: $main_dark;

  .row {
    padding-top: 200px;
  }
}

.navigation__title {
  font-size: 52px;
  color: $white;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-left: -15px;
  margin-right: -15px;

  > * {
    flex: 1 0 calc(33.33% - 30px);
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.navigation__item {
  padding: 24px;
  background-color: $light;
  text-decoration: none;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $main;

    > * {
      color: $white;
    }
  }
}

.navigation__item-number {
  font-family: "Neucha", cursive;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
  color: $main_dark;
}

.navigation__item-title {
  font-family: "Neucha", cursive;
  font-size: 34px;
  line-height: 1.2em;
  color: $main;
}

.navigation__item-description {
  margin-top: 16px;
  line-height: 1.6em;
  color: $dark;
}

.ie__image-wrapper,
.po__image-wrapper,
.don__image-wrapper,
.hd__image-wrapper,
.eip__image-wrapper {
  z-index: 1;
}

.ie__image,
.po__image,
.don__image,
.hd__image,
.eip__image {
  vertical-align: middle;
  background-color: $white;
  box-shadow: 0 16px 32px 0 #00000026;
}

.ie__subtitle,
.po__subtitle,
.don__subtitle,
.hd__subtitle,
.eip__subtitle {
  font-family: "Neucha", cursive;
  font-size: 24px;
  line-height: 29px;
}

.ie__description,
.po__description,
.don__description,
.hd__description,
.eip__description {
  font-family: "Neucha", cursive;
  margin-top: 30px;
  font-size: 34px;
  line-height: 41px;
}

.ie__bottom,
.po__bottom,
.don__bottom,
.hd__bottom,
.eip__bottom {
  margin-top: 100px;
}

.ie__bottom-header,
.po__bottom-header,
.don__bottom-header,
.hd__bottom-header,
.eip__bottom-header {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.ie__text-wrapper,
.po__text-wrapper,
.don__text-wrapper,
.hd__text-wrapper,
.eip__text-wrapper {
  margin-top: 20px;
}

.ie__text,
.po__text,
.don__text,
.hd__text,
.eip__text {
  line-height: 1.6em;
}

.ikea-effect,
.distortion-of-novelty,
.errors-in-planning {
  background-color: $light;
}

.ie__subtitle,
.don__subtitle,
.eip__subtitle {
  color: $dark_translucent;
}

.ie__bottom-header,
.don__bottom-header,
.eip__bottom-header {
  color: $white;
  background-color: $brown;
}

.premature-optimization,
.hyperbolic-depreciation {
  background-color: $brown;
}

.po__title,
.po__description,
.po__text,
.hd__title,
.hd__description,
.hd__text {
  color: $white;
}

.po__text,
.hd__text {
  line-height: 1.6em;
}

.po__subtitle,
.hd__subtitle {
  color: $white_translucent;
}

.po__bottom-header,
.hd__bottom-header {
  color: $brown;
  background-color: $white;
}

.eip__text-wrapper {
  > div {
    .eip__text {
      margin-bottom: 16px;
    }
  }
}

.footer__subscription {
  display: flex;
  column-gap: 122px;
  padding: 38px 55px 42px;
  background-color: $main_dark;
}

.footer__title {
  width: 100%;
  max-width: 393px;
  margin-top: 17px;
  font-size: 34px;
  color: $white;
}

.footer__form {
  width: 100%;
}

.footer__input-label {
  font-size: 18px;
  line-height: 1.6em;
  color: $white;
}

.footer__input-wrapper {
  display: flex;
  margin-top: 9px;
}

.footer__input {
  width: 100%;
  max-width: 415px;
  height: 50px;
  padding: 0 15px;
  border: 1px solid #e3e3e3;
  border-right: none;
  box-sizing: border-box;

  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.6em;
    color: #757575;
    opacity: 0.2;
  }
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  background-color: $main;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../images/send.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: #ea7600;
  }
}

.footer__form-text {
  margin-top: 3px;
  font-size: 12px;
  line-height: 1.6em;
  color: $white;
}

.footer__form-link {
  color: inherit;
  transition: text-decoration-color 0.3s ease;

  &:hover {
    text-decoration-color: transparent;
  }
}

.footer__copyright {
  text-align: center;
  margin-top: 76px;
  font-size: 14px;
  line-height: 1.6em;
  color: #000000;
}

.footer__article {
  text-align: center;
  margin-top: 16px;
  color: #000000;
  font-size: 14px;
  line-height: 1.6em;
}

.footer__article-link {
  color: $blue;
}

.footer__hexlet {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #000000;
  font-size: 14px;
  line-height: 1.6em;
  color: $blue;
}
