@use "vars.scss" as *;

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: $dark;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.row {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    pointer-events: none;
  }
}

.columns {
  display: flex;
  column-gap: 30px;

  > * {
    flex: 0 1 50%;
  }
}

.accent {
  color: $main;
}

.header {
  background-color: $light;
}

.header__wrapper {
  position: relative;
}

.header__title {
  position: relative;
  z-index: 1;
}

.header__image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  pointer-events: none;
}

.header__grid {
  margin-top: 199px;
}

.header__text-wrapper {
  .header__text {
    &:last-child {
      margin-top: 15px;
    }
  }
}

.header__text {
  line-height: 26px;
}

.header__button {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: fit-content;
  font-size: 16px;
  line-height: 1.6em;
  margin-top: 40px;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $main;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ea7600;
  }
}

.video-block {
  .row {
    padding-bottom: 0;
  }
}

.vb__title {
  text-align: center;
}

.vb__subtitle {
  text-align: center;
  margin-top: 30px;
  line-height: 26px;
  color: #212529;
}

.vb__link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -100px;
}

.vb__image {
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation {
  background-color: $main_dark;

  .row {
    padding-top: 200px;
  }
}

.navigation__title {
  font-size: 52px;
  color: $white;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-left: -15px;
  margin-right: -15px;

  > * {
    flex: 1 0 calc(33.33% - 30px);
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.navigation__item {
  padding: 24px;
  background-color: $light;
  text-decoration: none;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $main;

    > * {
      color: $white;
    }
  }
}

.navigation__item-number {
  font-family: "Neucha", cursive;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
  color: $main_dark;
}

.navigation__item-title {
  font-family: "Neucha", cursive;
  font-size: 34px;
  line-height: 1.2em;
  color: $main;
}

.navigation__item-description {
  margin-top: 16px;
  line-height: 25.6px;
  color: $dark;
}

.ikea-effect {
  background-color: $light;
}

.ie__image-wrapper {
  background-color: $white;
  box-shadow: 0 16px 32px 0 #00000026;
  z-index: 1;
}

.ie__subtitle {
  font-family: "Neucha", cursive;
  font-size: 24px;
  line-height: 29px;
  color: $dark_translucent;
}

.ie__description {
  font-family: "Neucha", cursive;
  margin-top: 30px;
  font-size: 34px;
  line-height: 41px;
}

.ie__bottom {
  margin-top: 98px;
}

.ie__bottom-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  background-color: $brown;
  text-transform: uppercase;
}

.ie__text-wrapper {
  margin-top: 20px;
}

.ie__text {
  line-height: 26px;
}
